<h1>Menus</h1>
<div class="row">
    {{#each menus}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags body}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/menus/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/menus/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No menus to display</p>
    {{/each}}
</div>